<template>
  <div>
    <slot name="header"></slot>
    <div class="feature-text">
      {{{$t("_.INFO_TXT_INTERNATIONAL")}}}

      <img class="img-responsive img-portfolio img-rounded" src="/static/img/worldmap.jpg" alt="">
    </div>
    <slot name="footer"></slot>
  </div>
</template>

<script>
export default {
  name: 'International',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
</style>