<template>
  <div>
    <slot name="header"></slot>
    <div class="feature-text">
      {{{$t("_.INFO_TXT_OFFICE")}}}
    </div>
    <slot name="footer"></slot>
  </div>
</template>

<script>
export default {
  name: 'Office',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
</style>
