<template>
  <div>
    <div class="service-panel" :class="{active:isActive, notexpandable:!expandable}" @mouseover="mouseoverservice" @mouseout="mouseoutservice">
      <a class="service-link" v-link="{name:data.link}">
        <div class="service-panel-header">
          <span class="fa-stack fa-2x" style="pointer-events: none">
            <i class="fa fa-stack-2x" :class="data.icon"></i>
          </span><div class="service-title">{{{$t(data.title)}}}</div>
        </div>
        <div class="panel-collapse" style="display: none">
          <div class="service-panel-body">{{{$t(data.body)}}}</div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ServicePanel',
  props: {
    data: {type: Object, required: true},
    expandable: {type: Boolean, default: true}
  },
  data () {
    return {}
  },
  methods: {
    mouseoverservice (e) {
      if (this.expandable) {
        $(e.currentTarget).find('.panel-collapse').stop().slideDown(200)
      }
    },
    mouseoutservice (e) {
      if (this.expandable) {
        $(e.currentTarget).find('.panel-collapse').stop().slideUp(200)
      }
    }
  },
  computed: {
    isActive () {
      return this.$route.name === this.data.link
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '../../variables.styl'

$panel-font-size = 1.5em

.service-panel
  padding 10px
  border-radius 5px
  margin-bottom 0px
  &:hover
    background-color $services-panel-blue
    color #fff
    a, .service-panel-body
      color #fff
  &.active
    background-color $services-panel-blue
    color #fff
    a, .service-panel-body
      color #fff
  a
    color lighten($invictus-pale-blue, 0)
  .fa-stack-2x
    font-size $panel-font-size
    padding-top 3px
  .service-link
    text-decoration none
    &:hover
      .service-title
        text-decoration none
  .service-title
    display inline-block
    font-size 17px
    font-weight bold
    margin-left 10px
    word-wrap break-word
    vertical-align middle
    white-space pre-wrap
    width calc(100% - 75px)
  .service-panel-header
    >span
      font-size $panel-font-size
      padding 2px 10px
  .service-panel-body
    margin-left 55px + 10px

.notexpandable
  margin-left -145px
  padding-left 135px


</style>