<template>
  <div id="services">
    <div class="background"></div>
    <div class="container">
      <h1 class="page-title">Serviços</h1>
      <div class="row">
        <div class="col-xs-4" style="padding-right: 20px">
          <service-panel v-for="service in services" :data="service" :expandable="false"></service-panel>
        </div>
        <div class="col-xs-8">
          <div>
            <router-view class="router-view white-paragraph-containers" v-if="ready" transition="fade" transition-mode='out-in' style="animation-duration: 0.3s">
              <h3 slot="header" class="feature-header">{{{$t($route.title)}}}</h3>
            </router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
  </template>

  <script>
import services from './services-list.js'
import ServicePanel from './ServicePanel.vue'
export default {
  name: 'About',
  components: {
    ServicePanel
  },
  data () {
    return {
      ready: false,
      services
    }
  },
  ready () {
    console.log(this.$route.title)
    this.ready = true
  }
}
</script>

<style lang="stylus" scoped>
$header-height = 150px
$footer-height = 150px
$top-padding = 40px

.router-view
  margin-top -20px

#services
  min-height 100%

.background
  background-image url('/static/img/eiffel-tower.jpg')
  width 100%
  min-height 100%
  z-index -1
  position fixed
  background-position center center
  background-repeat no-repeat
  background-size cover
  min-height calc(100vh - 50px)

</style>