<template>
	<div>
		<slot name="header"></slot>
		<div class="feature-text">
			{{{$t("_.INFO_TXT_STORAGE")}}}
			<hr/>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<a href="/src/img/gallery/armazenagem.jpg" data-lightbox="gal-warehouse">
						<img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/armazenagem-thumb.jpg" alt="">
					</a>
				</div>
				<div class="col-md-3 col-sm-6">
					<a href="/src/img/gallery/forklift.jpg" data-lightbox="gal-warehouse">
						<img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/forklift-thumb.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
		<slot name="footer"></slot>
	</div>
</template>

<script>
export default {
  name: 'Storage',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
</style>




