body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.minPadding {
	padding-left: 15px;
	padding-right: 15px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.user-column {
	background-color: #FFFFE1;
}