html,
body {
	height: 100%;
}

body {
	/*    padding-top: 50px; */
	
	font-family: 'Open Sans', sans-serif;
}

#fb-root {
  display: none;
}

.budget-holder {
	margin-top:0px;
	margin-bottom: -1px;
	padding-top:70px;
	padding-bottom:70px;
	background-color:#F5F9FF;
}

.tracking-container {
	margin-top:50px;
	margin-bottom:30px;
	border-radius: 30px !important;
	background-color: #555;
}

.white-text {
	color:#fff;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
  //padding:20px;
}

.col-centered{
float: none;
margin: 0 auto;
}

.navbar-default {
	margin-bottom: 0;
}

.background-img1 {
	background-image: url('../img/belem.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left center;
	/*	background-origin*/
}

.background-img2 {
	background-image: url('../img/eiffel-tower.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right center;
}

.background-img3 {
	background-image: url('../img/liberty.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left center;
}

.business-header {
	height: 50%;
	background: url('../img/truck-bg.jpg') center center no-repeat scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.tagline {
	text-shadow: 0 0 10px #000;
	color: #fff;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.img-portfolio {
	margin-bottom: 30px;
}

.img-hover:hover {
	opacity: 0.8;
}
/* Home Page Carousel */

header.carousel {
	height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
	height: 100%;
}

header.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
/* 404 Page Styles */

.error-404 {
	font-size: 100px;
}
/* Pricing Page Styles */

.price {
	display: block;
	font-size: 50px;
	line-height: 50px;
}

.price sup {
	top: -20px;
	left: 2px;
	font-size: 20px;
}

.period {
	display: block;
	font-style: italic;
}
/* Footer Styles */

footer {
	margin: 50px 0;
}

.panel-body p {
	white-space: pre-line;
}

label.error {
	color: #FB3A3A;
	/*	font-weight:normal;*/
	/*	font-size: 11px;*/
}

.panel-heading {
	padding: 0px;
}

.panel-group .panel {
	margin-bottom: 0px;
	border-radius: 0px;
}

.panel-title > a {
	text-decoration: none;
	display: block;
	padding: 13px 15px;
}

.panel-title > a > i {
	margin-right: 10px;
}
/* Responsive Styles */

@media(max-width:991px) {
	.customer-img, .img-related {
		margin-bottom: 30px;
	}
}

@media(max-width:767px) {
	.img-portfolio {
		margin-bottom: 15px;
	}
	header.carousel .carousel {
		height: 70%;
	}
}

.features {
	margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*	font-family: Helvetica;*/
	
	color: #555;
}

.feature-header {
	margin-bottom: 30px;
	white-space: nowrap;
}

.features-title {
	margin-top: 20px;
	margin-bottom: 20px;
}

p,
address {
	/*	margin-bottom: 20px;*/
	
	line-height: 24px;
}

.service-header {
	padding-top: 15px;
	margin-bottom: 15px;
}

.service-header > .fa-stack > .fa-circle {
	color: #555;
}

.service-header > .fa-stack > .fa-inverse {
	//color: #555;
}

.service-title {
	font-size: 17px;
	font-weight: bold;
	margin-left: 65px;
	white-space: nowrap;
}

.google-maps {
	position: relative;
	padding-bottom: 420px;
	/* this sets the map height */
	
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.wo-margin {
	margin-top: 0;
	margin-bottom: 0;
}

.w-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.feature-text {
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-radius: 10px;
}