<template>
  <div id="about-component">
    <div class="background"></div>
    <div class="container">
      <h1 class="page-title">Sobre Nós</h1>
      <div class="row">
        <div class="col-xs-4" style="padding-right: 20px">
          <ul class="about-links">
            <li><a href="#" v-link="{name:'company'}"><h4 class="link-title" :class="{active:isCompany}">A Empresa</h4></a></li>
            <li><a href="#" v-link="{name:'faqs'}"><h4 class="link-title" :class="{active:isFaq}">Perguntas Frequentes (FAQ)</h4></a></li>
            <li><a href="#" v-link="{name:'gallery'}"><h4 class="link-title" :class="{active:isGallery}">Galeria</h4></a></li>
          </ul>
        </div>
        <div class="col-xs-8">
          <div class="feature-text">
            <router-view class="router-view" v-if="ready" transition="fade" transition-mode='out-in' style="animation-duration: 0.3s">
            </router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
  </template>

  <script>
export default {
  name: 'About',
  data () {
    return {
      ready: false
    }
  },
  ready () {
    this.ready = true
  },
  computed: {
    isCompany () {
      return this.$route.name === 'company'
    },
    isFaq () {
      return this.$route.name === 'faqs'
    },
    isGallery () {
      return this.$route.name === 'gallery'
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '../../variables.styl'
$header-height = 150px
$footer-height = 150px
$top-padding = 40px

#about-component
  min-height 100%

.background
  background-image url('/static/img/belem-flipx.jpg')
  position fixed
  width 100%
  min-height 100%
  z-index -1
  background-position center center
  background-repeat no-repeat
  background-size cover
  min-height calc(100vh - 50px)

.router-view
  margin-top -20px

.about-links
  list-style none
  padding-left 0px
  a
    text-decoration none
  .link-title
    padding 20px
    margin 0
    margin-left -150px
    padding-left 150px
    border-radius 5px
  .link-title:hover
    color #fff
    background-color $services-panel-blue
  .link-title.active
    color #fff
    background-color $services-panel-blue



</style>