<template>
  <section class="white-paragraph-containers">
    <h1>A Empresa</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!-- FACILITES -->
    <h3>{{$t('_.FACILITIES_TITLE')}}</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    <div class="row">
      <div class="col-xs-3">
        <a href="/static/img/gallery/office.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/office-thumb.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="/static/img/gallery/warehouse2.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/warehouse2-thumb.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="/static/img/gallery/warehouse.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/warehouse-thumb.jpg" alt="">
        </a>
      </div>
    </div>

    <!-- MATERIALS -->
    <h3>{{{$t("_.MATERIALS_TITLE")}}}</h3>
    <p>{{{$t("_.MATERIALS_TXT_SM")}}}</p>
    <div class="row">
      <div class="col-xs-3">
        <a href="/static/img/gallery/materials.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/materials-thumb.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="/static/img/gallery/truck.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/truck-thumb.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="/static/img/gallery/warehouse3.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/warehouse3-thumb.jpg" alt="">
        </a>
      </div>
    </div>

    <slot name="footer"></slot>
  </section>
</template>

<script>
export default {
  name: 'Company',
  data () {
    return {}
  }
}
</script>

<style lang="css" scoped>
</style>