<template>
  <section class="white-paragraph-containers">
    <slot name="header"></slot>
    <p>{{{$t("_.FACILITIES_TXT_SM")}}}</p>
    <p>{{{$t("_.INFO_TXT_FACILITIES")}}}</p>
    <div class="row center-xs">
      <div class="col-xs-3">
        <a href="/static/img/gallery/office.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/office-thumb.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="/static/img/gallery/warehouse2.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/warehouse2-thumb.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="/static/img/gallery/warehouse.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/warehouse-thumb.jpg" alt="">
        </a>
      </div>
    </div>
    <slot name="footer"></slot>
  </section>
</template>

<script>
  export default {
    name: 'Facilities',
    data () {
      return {}
    }
  }
</script>

<style lang="stylus" scoped>
</style>