<template>
  <section>
    <h1 class="about-title">Perguntas Frequentes</h1>
    <div class="question-container">
      <div class="" v-for="question in questions">
        <div class="question-panel" @mouseover="mouseoverquestion" @mouseout="mouseoutquestion">
          <div class="question-panel-header">
            <span class="fa-stack fa-2x" style="pointer-events: none">
              <h5 class="question-title">{{{question.question}}}</h5>
            </span>
          </div>
          <div class="panel-collapse" style="display: none">
            <div class="question-panel-body"><p>{{{question.answer}}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
let questions = [
  {question: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit?', answer: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam laborum dolorum perspiciatis nihil ipsa eos, tenetur, aperiam dolores, ducimus eius debitis harum minus porro ipsam, unde inventore quia. Libero, molestiae.'},
  {question: 'Aliquam laborum dolorum perspiciatis nihil ipsa eos?', answer: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum minima perferendis aut ut quidem sequi cumque autem, recusandae temporibus facilis molestiae perspiciatis excepturi obcaecati sunt, accusamus explicabo reiciendis nesciunt, neque.'},
  {question: 'ducimus eius debitis harum minus porro ipsam?', answer: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nisi voluptas, recusandae blanditiis rem libero enim veniam magni, cumque neque. Sequi modi excepturi corporis porro magnam quia, reiciendis atque ipsam?'}
]

export default {
  name: 'FAQ',
  data () {
    return {
      questions
    }
  },
  methods: {
    mouseoverquestion (e) {
      $(e.currentTarget).find('.panel-collapse').stop().slideDown(200)
    },
    mouseoutquestion (e) {
      $(e.currentTarget).find('.panel-collapse').stop().slideUp(200)
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '../../variables.styl'
.about-title // applies to sub components
  margin-bottom 40px

.question-panel
  background-color $white-panel-color
  border-radius $white-panel-border-radius
  margin-bottom 5px
  cursor pointer
  .question-panel-header
    font-size 9px
    margin-left 15px
    .question-title
      white-space nowrap
  .question-panel-body-panel-header
    >span
      font-size 1.8em
      padding 2px 15px
  .question-panel-body
    margin-left 15px
</style>