<template>
  <section>
    <h1>Galeria</h1>
    <div id="gallery-row" class="row" style="display:none">
      <div v-for="image in images" class="col col-xs-3">
        <a :href="'/static/img/gallery-new/' + image + '.jpg'" data-lightbox="inst" >
          <img class="img-responsive img-hover img-rounded" :src="'/static/img/gallery-new/' + image + '-thumb.jpg'" alt="">
        </a>
      </div>
    </div>
  </section>
</template>

<script>
let images = [
  'associations',
  'backyard1',
  'car2',
  'car3',
  'materials',
  'morecargo',
  'office',
  'car4',
  'truck',
  'warehouse2',
  'billboard',
  'truck-office',
  'viatura1',
  'truck3',
  'warehouse3',
  'truck-unloading'
]

export default {
  name: 'Gallery',
  data () {
    return {images}
  },
  attached () {
    $('#gallery-row').delay(0).fadeIn(1000)
  }
}
</script>

<style lang="stylus" scoped>
  @import '../../variables.styl'
  section h1
    margin-bottom 40px

  .row
    margin-bottom 40px

  .col
    padding 5px

</style>