<template>
  <section>
    <slot name="header"></slot>
    <p>{{{$t("_.MATERIALS_TXT_SM")}}}</p>
    <div class="row center-xs">
      <div class="col-xs-3">
        <a href="/static/img/gallery/materials.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/materials-thumb.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="/static/img/gallery/truck.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/truck-thumb.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-3">
        <a href="/static/img/gallery/warehouse3.jpg" data-lightbox="inst">
          <img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/warehouse3-thumb.jpg" alt="">
        </a>
      </div>
    </div>
    <p>{{{$t("_.INFO_TXT_MATERIALS")}}}</p>
    <slot name="footer"></slot>
  </section>
</template>

<script>
  export default {
    name: 'Materials',
    data () {
      return {}
    }
  }
</script>

<style lang="stylus" scoped>
</style>