<template>
  <div>
    <div class="background"></div>
    <div class="container">
      <h1 class="page-title">{{{$t("_.TRACKING_TITLE")}}}</h1>
    <div class="row middle-xs" id="tracking">
      <div class="col-xs-12">
      </div>
      <div class="col-xs-6 col-xs-offset-3 wow fadeIn" >
        <form id="tracking-form" method="post" action="orderTracking">
          <p>{{{$t("_.TRACKING_TXT")}}}</p>
          <div class="form-group">
            <label>{{{$t('_.TRACKING_PLACEHOLDER')}}}</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="">
          </div>
          <button type="submit" class="btn btn-success">{{{$t("_.TRACKING_FIND")}}}</button>
        </form>
        <div id="trackingTxtError" style="color:#FF0000;display:none">Error</div>
        <div id="trackingPanel" class="row" style="margin-top:20px;display:none">
          <div class="col-xs-6">
            <h4><small class="">{{{$t("_.TRACKING_STATE")}}}</small></h4>
            <div id="txtStatus" class="well well-sm">
            </div>
          </div>
          <div class="col-xs-6">
            <h4><small class="">{{{$t("_.TRACKING_LOCAL")}}}</small></h4>
            <div id="txtLocation" class="well well-sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'Tracking',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
#tracking-form
  background-color #ccc
  padding: 40px;
  border-radius: 10px
  margin-top: calc(50vh - 250px)

.background
  // background-image url('/static/img/ship.jpg')
  width 100%
  z-index -1
  position fixed
  background-position center top
  background-repeat no-repeat
  background-size cover
  min-height calc(100vh - 50px)
</style>