<template>
  <section style="margin-bottom: 30px">
    <h1 class="feature-header">
      A Invictus
    </h1>
    <p>A Invictus é uma Portuguesa que realiza vários tipos de mudanças, etc.. etc..</p>
    <div class="space10"></div>
    <p>Porque escolher a Invictus?</p>
    <div class="row middle-xs">
      <div class="col-xs">
        <div class="col-xs-4">
          <div class="text-center" style="width: 100%">
            <img src="/static/img/full-truck-load-services.png" class="img-responsive img-invictus" alt="Image">
          </div>
          <h4>Qualidade do Serviço</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="col-xs-4">
          <div class="text-center" style="width: 100%">
            <img src="/static/img/euro.png" class="img-responsive img-invictus" alt="Image">
          </div>
          <h4>Preços Competitivos</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="col-xs-4">
          <div class="text-center" style="width: 100%">
            <img src="/static/img/family.png" class="img-responsive img-invictus" alt="Image">
          </div>
          <h4>Satisfação do Cliente</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

    </div>

    <div class="space10"></div>
    <p><a v-link="{name:'company'}">Clique aqui</a> e aprenda mais sobre a nossa empresa.</p>

  </section>
</template>

<script>
export default {
  name: 'AboutInvictus',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.space10
  width 10px
  height 10px

.img-invictus
  display inline
  max-height 200px
</style>