<template>
  <section style="margin-bottom: 30px">
    <h1 class="feature-header">
      A Invictus
    </h1>
    <div class="row middle-xs">
      <div class="col-xs">
        <p>
        A Invictus é uma Portuguesa que realiza vários tipos de mudanças, etc.. etc..
        </p>
        <div class="space10"></div>
        <h4>Qualidade do Serviço</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h4>Preços Competitivos</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h4>Satisfação do Cliente</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="space10"></div>
        <a v-link="name:'about'">Clique aqui para saber mais sobre a nossa empresa.</a>
      </div>

      <div class="col-xs">
        <img src="/static/img/moving-boxes.jpg" align="middle" class="img-responsive" alt="Image" style="height: 300px; margin:auto;">
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'AboutInvictus',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.space10
  width 10px
  height 10px
</style>