<template>
	<div id="budgetDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{{{$t('_.inquiry.formTitle')}}}</h4>
				</div>
				<div class="modal-body">
					<form id='budgetForm' class="form-horizontal" method="post" action="requestBudget">
						<fieldset>

							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">{{{$t('_.BUDGET_FORM_NAME')}}}</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="name" name="name" placeholder="{{{$t('_.BUDGET_FORM_NAME_PH')}}}" required>
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-sm-3 control-label">{{{$t('_.BUDGET_FORM_EMAIL')}}}</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="email" name="email" placeholder="{{{$t('_.BUDGET_FORM_EMAIL_PH')}}}" required>
								</div>
							</div>
							<div class="form-group">
								<label for="phone" class="col-sm-3 control-label">{{{$t('_.BUDGET_FORM_PHONE')}}}</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="phone" name="phone" placeholder="{{{$t('_.BUDGET_FORM_PHONE_PH')}}}" required>
								</div>
							</div>

							<div class="form-group">
								<label for="origin" class="col-sm-3 control-label">{{{$t('_.BUDGET_FORM_ORIGIN')}}}</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="origin" name="origin" placeholder="{{{$t('_.BUDGET_FORM_ORIGIN_PH')}}}" required>
								</div>
							</div>

							<div class="form-group">
								<label for="destination" class="col-sm-3 control-label">{{{$t('_.BUDGET_FORM_DESTINATION')}}}</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="destination" name="destination" placeholder="{{{$t('_.BUDGET_FORM_DESTINATION_PH')}}}" required>
								</div>
							</div>

							<div class="form-group">
								<label for="date" class="col-sm-3 control-label">{{{$t('_.BUDGET_FORM_DATE')}}}</label>
								<div class="col-sm-9">
									<input type="date" class="form-control" id="date" name="date" required>
								</div>
							</div>

							<div class="form-group">
								<label for="comments" class="col-sm-3 control-label">{{{$t('_.BUDGET_FORM_COMMENTS')}}}</label>
								<div class="col-sm-9">
									<textarea class="form-control" rows="4" id="comments" name="comments" placeholder="{{{$t('_.BUDGET_FORM_COMMENTS_PH')}}}"></textarea>
								</div>
							</div>

							<div class="form-group">
								<input type="hidden" name="protection" id="protection">
							</div>

							<div class="dialog-error-msg"></div>

							<div class="form-group">
								<label class="col-sm-3 control-label">{{{$t('_.BUDGET_FORM_ANTISPAM')}}}</label>
								<div class="col-sm-9">
									<!--									<div class="checkbox">-->
									<label>
										<input id="human" name="human" type="checkbox" value="true"> {{{$t('_.BUDGET_FORM_ANTISPAM_TXT')}}}
									</label>
									<!--									</div>-->
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12 text-right">
									<button class="btn btn-invictus-blue" data-dismiss="modal">{{{$t('_.misc.cancel')}}}</button>
									<button id="btnBFSubmit" class="btn btn-primary">{{{$t('_.BUDGET_FORM_SEND')}}}</button>
								</div>
							</div>

						</fieldset>
					</form>

				</div>
			</div>

		</div>
	</div>
</template>

<script>
export default {
  name: 'BudgetForm',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
</style>