<template>
  <div class="container" style="padding-top:20px">
    <div class="row">
      <div class="col-xs-12 vcenter text-center">
        <h4>{{{$t("_.CERTIFIED_BY")}}}</h4>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <div class="col-xs-4">
              <img src="/static/img/certificate-dod.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-xs-4">
              <img src="/static/img/certificate-iam.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-xs-4">
              <img src="/static/img/certificate-imc.jpg" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Certificates',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
</style>