<template>
	<section class="" style="margin-bottom: 40px">
    <div class="row" style="">
      <div class="col-xs">
        <h1 class="feature-header">{{{$t("_.CONTACTS_TITLE")}}}</h1>
          <div class="feature-text">
            <address>
                Edificio Invictus - Armazém C<br>
                Avenida Santa Isabel nº 4 e 8<br>
                2635-047 Cabra Figa<br>
                Portugal<br><br>
                <strong>Tel:</strong> (+351) 219 259 580<br>
                <strong>Fax:</strong> (+351) 219 259 582<br>
                <strong>Email:</strong> <a href="mailto:enquiries@invictus-relo.com" target="_top">enquiries@invictus-relo.com</a>
              </address>
          </div>
      </div>
      <div class="col-xs google-maps">
        <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/streetview?location=38.746464,-9.342258&heading=90&pitch=3&key=AIzaSyB9eaq75nzfAMcM8uF-NGq1AikRakgO0oY"></iframe>
      </div>
    </div>
	</section>
</template>

<script>
export default {
  name: 'Contacts',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>

.google-maps
  position relative
  padding-bottom: 420px
  height 0
  overflow hidden

.google-maps iframe
  position: absolute
  top: 0
  left: 0
  width: 100% !important
  height: 100% !important

.background-contacts
  background-image url('/static/img/liberty.jpg')
  background-repeat no-repeat
  background-size auto 100%
  background-position left center

p, address
  line-height: 24px

</style>