<template>
  <header class="background-img2">
    <div class="container" style="padding-bottom:20px;padding-top:20px" id="social">
      <div class="col-xs-6 vcenter">
        <div style="padding-right:20px; padding-top:20px; padding-bottom:20px">
        <div class="fb-like-box" data-href="https://www.facebook.com/InvictusRelocationServices" data-colorscheme="light" data-show-faces="false" data-header="false" data-width="auto" data-stream="true" data-show-border="true"></div>
        </div>
      </div><!--
      --><div class="col-xs-6 vcenter">
        <h2 class="feature-header">{{{$t("_.SOCIAL_TITLE")}}}</h2>
        <div class="text-center">
          <!--p>[Facebook][Twitter]</p-->
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Facebook',
  data () {
    return {}
  }
}
</script>

<style lang="stylus">
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]
  width 100% !important

#fb-root
  display none

</style>