<template>
	<section class="">
		<div class="row" id='gallery'>
			<div class="col-lg-12">
				<h1 class="feature-header" style="">{{{$t("_.GALLERY_TITLE")}}}</h1>
			</div>
			<div class="col-md-2 col-sm-3">
				<a href="/static/img/gallery/associations.jpg" data-lightbox="gal">
					<img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/associations-thumb.jpg" alt="">
				</a>
			</div>
			<div class="col-md-2 col-sm-3">
				<a href="/static/img/gallery/boxes.jpg" data-lightbox="gal">
					<img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/boxes-thumb.jpg" alt="">
				</a>
			</div>
			<div class="col-md-2 col-sm-3">
				<a href="/static/img/gallery/cargo.jpg" data-lightbox="gal">
					<img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/cargo-thumb.jpg" alt="">
				</a>
			</div>
			<div class="col-md-2 col-sm-3">
				<a href="/static/img/gallery/morecargo.jpg" data-lightbox="gal">
					<img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/morecargo-thumb.jpg" alt="">
				</a>
			</div>
			<div class="col-md-2 col-sm-3">
				<a href="/static/img/gallery/office.jpg" data-lightbox="gal">
					<img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/office-thumb.jpg" alt="">
				</a>
			</div>
			<div class="col-md-2 col-sm-3">
				<a href="/static/img/gallery/viatura2.jpg" data-lightbox="gal">
					<img class="img-responsive img-portfolio img-hover img-rounded" src="/static/img/gallery/viatura2-thumb.jpg" alt="">
				</a>
			</div>
		</div>
	</section>
</template>

<script>
export default {
  name: 'Gallery',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
</style>