<template>
  <header>
    <div id="main-carousel" v-el:main-carousel class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class=""></li>
        <li data-target="#main-carousel" data-slide-to="1" class=""></li>
        <!-- <li data-target="#main-carousel" data-slide-to="2" class="active"></li> -->
      </ol>
      <div class="carousel-inner">
        <div class="carousel-img carousel-img1"></div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption" v-el:caption-one>
              <h2><span>Orçamento online</span></h2>
              <p>Saiba quanto custa realizar a sua mudança através da Invictus.<br>
                  Preencha o nosso formulário e receba um orçamento no seu email nos próximos dias.</p>
              <p>
                <a class="btn btn-lg btn-invictus-blue" v-link="{name:'quote'}" role="button">
                  <i class="fa fa-file-text"></i> Orçamento online
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="item active">
          <!-- <div class="carousel-img carousel-img2"></div> -->
          <div class="container">
            <div class="carousel-caption">
              <h2><span>Localização de Mudança</span></h2>
              <p>Se já iniciou a sua mudança, utilize o seu código de tracking para saber o estado e a localização dos seus béns através do nosso sistema de tracking.</p>
              <p><a class="btn btn-lg btn-invictus-green" v-link="{name: 'tracking'}" role="button"><i class="fa fa-map-marker"></i> Localizar Mudança</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h2><span>One more for good measure.</span></h2>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-invictus-blue" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div> -->
      </div>
      <a class="left carousel-control" href="#main-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#main-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    <section style="height: calc(40vh - 50px)">
      <div class="row center-xs middle-xs" style="width: 100%; height: 100%;">
        <div class="col-xs-12 text-center">
          <div style="display:inline-block; width: initial; position: relative">
            <h1 class="wow slideInUp" style="position: absolute; width: 100%; font-size: 28px; margin-top:0; font-weight: normal">{{{$t('_.welcomeTxt')}}}</h1>
            <img class="img-responsive img-rounded wow fadeIn" src="/static/img/invictus-logo-en.png" style="display: initial; max-height: 190px">
          </div>
        </div>
      </div>
      <div class="text-center" style="margin-top: -50px">
        <img @click="scrollDown" class="image-scroll-down" src="/static/img/top.png">
      </div>
    </section>

  <div id="header-scroll-top"></div>
  </header>
</div>
</template>

<script>
import Vue from 'vue'
/* globals $ */
export default {
  name: 'Header',
  ready () {
    // init carousel
    let carousel = $(this.$els.mainCarousel)
    // carousel.find('.carousel-caption').hide()
    carousel.carousel({
      interval: 8000
      // pause: 'true',
      // cycle: true
    })
    .on('slide.bs.carousel', (e) => {
      $(e.relatedTarget).find('.carousel-caption').fadeOut(350)
    }).on('slid.bs.carousel', (e) => {
      $(e.relatedTarget).find('.carousel-caption').delay(150).fadeIn(350)
    }).carousel('next')
  },
  computed: {
    langPT () {
      return Vue.config.lang === 'pt'
    },
    langEN () {
      return Vue.config.lang === 'en'
    }
  },
  methods: {
    scrollDown () {
      $('html, body').animate({
        scrollTop: $('#header-scroll-top').offset().top - 10
      }, 750)
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '../../variables.styl'

.btn-invictus-blue
  margin-top 10px

.business-header
  height 50%
  background url('/static/img/truck-bg.jpg') center center no-repeat scroll
  -webkit-background-size cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

.tagline
  text-shadow 0 0 10px #000
  color #fff

.carousel
  .carousel-caption
    color #fff
    background-color rgba(#000, 0.5)
    font-size 1.7rem
    border-radius 10px
    padding 10px
    bottom 65px
  h1,h2,h3,h4
    color lighten($invictus-spark-blue, 20)
    margin-bottom 25px
  .carousel-img
    width 100%
    height 60vh
    background-color #ccc
    background url('/static/img/truck-bg.jpg') center center no-repeat scroll
    -webkit-background-size cover
    -moz-background-size: cover
    background-size: cover
    -o-background-size: cover

.image-scroll-down
  -moz-transform scaleY(-1)
  -o-transform scaleY(-1)
  -webkit-transform scaleY(-1)
  transform scaleY(-1)
  filter FlipV
  -ms-filter "FlipV"
  cursor pointer
  opacity 0.5
  &:hover
    opacity 0.7

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transition-duration: .300s; /* Safari */
  transition-duration: .300s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

</style>