
<template>
  <section>
    <header-component></header-component>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-xs-9" style="">

          <about-invictus></about-invictus>
          <div class=""><hr class="wo-margin"></div>

          <services></services>
          <div class=""><hr class="wo-margin"></div>

          <contacts></contacts>
          <budget-form></budget-form>
        </div>
        <div class="col-xs-3" style="margin-top: 40px; margin-left: 5px; margin-right: -5px">
          <sidebar></sidebar>
        </div>
      </div>
    </div>
    <!-- <div class="background"></div> -->

  </section>
</template>

<script>
import HeaderComponent from './HeaderComponent'
import Services from './Services'
import Contacts from './Contacts'
import Request from './Request'
import BudgetForm from './BudgetForm'
import Certificates from './Certificates'
import Facebook from './Facebook'
import Gallery from './Gallery'
import Infos from './Infos'
import Tracking from './Tracking'
import Sidebar from '../sidebar/sidebar'
import AboutInvictus from './AboutInvictus'

export default {
  // replace: false,
  components: {
    HeaderComponent,
    Services,
    Contacts,
    Request,
    BudgetForm,
    Certificates,
    Facebook,
    Gallery,
    Infos,
    Tracking,
    Sidebar,
    AboutInvictus
  }
}
</script>

<style lang="stylus" scoped>
/*.background
  background-image url('/static/img/sunset.jpg')
  width 100%
  z-index -1
  position relative
  background-position center center
  background-repeat no-repeat
  background-size cover
  min-height calc(100vh - 50px)*/
</style>