<template>
	<div id="{{name}}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{{title}}</h4>
				</div>
				<div class="modal-body">
					{{>content _}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{{$t("_.misc.close")}}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  name: 'Infos',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
</style>