<template>
  <header>
    <div class="">
      <div class="budget-holder jumbotron" id="budget">
        <div class="row w-margin" style="margin: 0">
          <div class="col-lg-12 text-center">
            <h3>{{{$t("_.inquiry.budget")}}}</h3>
            <span id="btnRequestBudget" class="btn btn-lg btn-primary" href="javascript:;" data-toggle="modal" data-target="#budgetDialog" style="margin-top:20px">
            {{{$t("_.inquiry.budgetBtn")}}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Request',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.budget-holder
  margin-top 0px
  margin-bottom -1px
  margin-right 0px

  padding-top 70px
  padding-bottom 70px
  background-color #F5F9FF

</style>