<template>
  <section class="" id="services">
    <h1 class="feature-header">
      {{{$t("_.home.services.title")}}}
    </h1>

    <div class="row services-row">
      <div class="col-xs wow fadeInRight">
        <service-panel v-for="service in servicesCol1" :data="service"></service-panel>
      </div>

      <div class="col-xs wow fadeInRight">
        <service-panel class="" v-for="service in servicesCol2" :data="service"></service-panel>
        </div>
      </section>
    </div>

  </div>
</template>

<script>
import services from '../services/services-list.js'
import ServicePanel from '../services/ServicePanel.vue'

/* globals $ */
export default {
  name: 'Services',
  components: {
    ServicePanel
  },
  data () {
    return {
      servicesCol1: services.filter((el, idx) => idx % 2 === 0),
      servicesCol2: services.filter((el, idx) => idx % 2 === 1)
    }
  }
}
</script>

<style lang="stylus" scoped>
.services-row
  min-height: 310px

</style>
