<template>
  <div class="">
    <div class="row jumbotron tracking-container" id="tracking">
      <div class="">
      <div class="col-xs-6 vcenter">
        <div class="">
          <h2 class="feature-header white-text">{{{$t("_.TRACKING_TITLE")}}}</h2>
        </div>
        <h4 class="white-text" style="line-height:35px;">
        {{{$t("_.TRACKING_TXT")}}}
        </h4>
      </div><!--
      <--><div class="col-xs-6 vcenter text-center">
        <form id="trackingForm" class="form-inline" method="post" action="orderTracking">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <span><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
              <input type="text" class="form-control input-lg" id="code" name="code" placeholder="{{{$t('_.TRACKING_PLACEHOLDER')}}}">
            </div>
            <button type="submit" class="btn btn-success btn-lg">{{{$t("_.TRACKING_FIND")}}}</button>
          </div>
        </form>
        <div id="trackingTxtError" style="color:#FF0000;display:none">Error</div>
        <div id="trackingPanel" class="row" style="margin-top:20px;display:none">
          <div class="col-xs-6">
            <h4><small class="white-text">{{{$t("_.TRACKING_STATE")}}}</small></h4>
            <div id="txtStatus" class="well well-sm">
            </div>
          </div>
          <div class="col-xs-6">
            <h4><small class="white-text">{{{$t("_.TRACKING_LOCAL")}}}</small></h4>
            <div id="txtLocation" class="well well-sm">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tracking',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.tracking-container
  margin-top 50px
  margin-bottom 30px
  border-radius  30px !important
  background-color #555
</style>