<template>
  <footer>
    <div class="container">
      <!-- <div class="certificates">
          <h5>{{{$t("_.CERTIFIED_BY")}}}</h5>
          <img src="/static/img/certificate-dod.png" class="img-responsive" alt="">
          <img src="/static/img/certificate-iam.png" class="img-responsive img-circle-background" alt="">
          <img src="/static/img/certificate-imc.jpg" class="img-responsive" alt="">
      </div> -->
      <div class="row">
        <div class="col-xs">
          <h4>Links Úteis:</h4>
          <p><a v-link="{name:'company'}">Sobre a Invictus</a></p>
          <p><a v-link="{name:'faqs'}">Perguntas Frequentes</a></p>
          <p><a v-link="{name:'services'}">Serviços</a></p>
          <p><a v-link="{name:'quote'}">{{{$t('_.inquiry.form.title')}}}</a></p>
          <p><a v-link="{name:'tracking'}">{{{$t('_.tracking.title')}}}</a></p>
        </div>
        <div class="col-xs">
          <h4>Contactos:</h4>
          <p>Edificio Invictus - Armazém C</p>
          <p>Avenida Santa Isabel nº 4 e 8</p>
          <p>2635-047 Cabra Figa, Portugal</p>
          <p>enquiries@invictus-relo.com</p>
          <p>+351 219 259 580</p>
        </div>
        <div class="col-xs">
          <h4>Serviços:</h4>
          <p><a v-link="{name:'international'}">{{{$t('_.home.services.internationalTitle')}}}</a></p>
          <p><a v-link="{name:'national'}">{{{$t('_.home.services.nationalTitle')}}}</a></p>
          <p><a v-link="{name:'storage'}">{{{$t('_.home.services.storageTitle')}}}</a></p>
          <p><a v-link="{name:'artworks'}">{{{$t('_.home.services.artTitle')}}}</a></p>
          <p><a v-link="{name:'services'}">...Ver Todos</a></p>
        </div>
        <div class="col-xs">
          <h4>Perguntas Frequentes:</h4>

        </div>
      </div>
    </div>
    <div class="footer-footer">
      <div class="container">
        <span style="margin-right: 20px"><small>© 2016 Invictus Relocation.</small></span>
        <span class="pull-right">
          <small>Certified by: </small>
          <a href="http://www.defense.gov/"><img class="certificate" src="/static/img/certificate-dod.png" class="img-responsive" alt="Image"></a>
          <a href="http://www.iamovers.org/"><img class="certificate" src="/static/img/certificate-iam.png" class="img-responsive" alt="Image" style="background-color: white"></a>
          <a href="http://www.imcworld.org/"><img class="certificate" src="/static/img/certificate-imc.jpg" class="img-responsive" alt="Image"></a>
        </span>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
@import '../variables.styl'

$certificate-height = 70px

footer
  position relative
  padding 30px 0
  color $light-grey
  padding-bottom 40px + 60px
  background-color $invictus-pale-blue
  a
    color $light-grey
  h4
    text-transform uppercase
    font-size 1.2rem
    color darken($light-grey, 20)
    margin-bottom 30px

.footer-footer
  position absolute
  bottom 0
  background-color darken($invictus-pale-blue, 15)
  color $light-grey
  padding-top 10px
  padding-bottom 10px
  width 100%
  max-width 100%
  .certificate
    display inline
    height 30px

.footer-col1
  display inline-block
  vertical-align middle

.certificates
  display inline-block
  vertical-align middle
  width 50%
  h5
    color $light-grey
    padding-top 5px
    padding-bottom 5px

  img
    display inline-block
    height 70px
    margin-right 5px
    &.img-circle-background
      background-color #fff
      border-radius 10px


</style>