<template>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="navbar-logo" src="/static/img/logo-white.png"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li :class="$route.name === 'home' ? 'active': ''">
            <a v-link="{name:'home'}">{{{$t("_.navbar.home")}}}</a>
          </li>
          <li class="dropdown" :class="{'active': isAboutUs}" v-dropdown-menu>
            <a v-link="{name:'about'}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{{$t("_.navbar.about")}}} <b class="caret"></b></a>
            <ul class="dropdown-menu animated fadeIn">
              <li><a v-link="{ name: 'company' }">A Empresa</a></li>
              <li><a v-link="{ name: 'faqs' }">FAQ</a></li>
              <li><a v-link="{ name: 'gallery' }">Galeria</a></li>
            </ul>
          </li>
          <li class="dropdown" :class="{'active': isService}" v-dropdown-menu >
            <a v-link="{name:'services'}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{{$t("_.navbar.services")}}} <b class="caret"></b></a>
            <ul class="dropdown-menu animated fadeIn">
              <li v-for="service in services">
                <a v-link="{ name: service.link }"><span>{{{$t(service.title)}}}</span></a>
              </li>
            </ul>
          </li>
          <li :class="$route.name === 'quote' ? 'active': ''">
            <a v-link="{name:'quote'}">{{$t("_.inquiry.form.title")}}</a>
          </li>
          <li>
            <a v-link="{ name: 'tracking' }">{{{$t("_.tracking.title")}}}</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" v-dropdown-menu>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img src="/static/img/flag-portugal.png" class="img-responsive img-flag" alt="Image" v-if="langPT">
              <img src="/static/img/flag-england.png" class="img-responsive img-flag" alt="Image" v-if="langEN">
              <span>
                {{currentLang}}
              </span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu lang-menu animated fadeIn" role="menu">
              <li v-if="langEN">
                <a v-link="{query: {lang:'pt'}}" class="text-right" >
                  <img src="/static/img/flag-portugal.png" class="img-responsive img-flag" alt="Image">
                  Português
                </a>
              </li>
              <li v-if="langPT">
                <a v-link="{query: {lang:'en'}}" class="text-right">
                  <img src="/static/img/flag-england.png" class="img-responsive img-flag" alt="Image">
                  English
                </a>
              </li>
            </ul>
          </li>

        </ul>

      </div>

    </div>
  </nav>
</template>

<script>
import Vue from 'vue'
import services from './services/services-list.js'

Vue.directive('dropdown-menu', {
  bind () {
    let dropdown = $(this.el)
    dropdown.on('mouseenter', () => {
      dropdown.addClass('open')
    })
    dropdown.on('mouseleave', () => {
      dropdown.removeClass('open')
    })
  },
  unbind () {
    let dropdown = $(this.el)
    dropdown.off('mouseover')
    dropdown.off('mouseout')
  }
})

export default {
  name: 'Navbar',
  data () {
    return {
      mouseover: '',
      services
    }
  },
  computed: {
    langPT () {
      return Vue.config.lang === 'pt'
    },
    langEN () {
      return Vue.config.lang === 'en'
    },
    currentLang () {
      return Vue.config.lang.toUpperCase()
    },
    isAboutUs () {
      let matched = this.$route.matched
      for (var i = 0; i < matched.length; i++) {
        if (matched[i].handler.name === 'about') {
          return true
        }
      }
      return false
    },
    isService () {
      let matched = this.$route.matched
      for (var i = 0; i < matched.length; i++) {
        if (matched[i].handler.name === 'services') {
          return true
        }
      }
      return false
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '../variables.styl'

.navbar
  // margin-bottom 0
  border none
  border-radius 0
  position fixed
  width 100%
  z-index 100
  background-image none
  background-color rgba(#343f56, .95)

  .navbar-brand
    color #fff

  .navbar-logo
    height 37px
    margin-top -9px
    margin-right 10px

.navbar {
    min-height: $navbar-height;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: $navbar-height;
    color #ccc
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}


.img-flag
  display inline
  width 25px
  margin-top -5px
  margin-bottom -5px

ul.dropdown-menu
  margin-top -1px
  border none
  background-color rgba($invictus-blue-darker, .8)
  padding 0
  -webkit-animation-duration:$fast-transition;
  -moz-animation-duration:$fast-transition;
  -ms-animation-duration:$fast-transition;
  -o-animation-duration:$fast-transition;
  animation-duration:$fast-transition-time;

  &>li>a
    color #ccc
    padding-top 10px
    padding-bottom 10px
.dropdown-menu>li>a:hover
  background-image none
  background-color $invictus-blue-darker
  color $invictus-blue-lightest

// hovered nav link
.navbar-inverse.navbar-nav>li>a:hover
  color $invictus-blue-lightest
  background-color $invictus-blue-darker
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
  color $invictus-blue-lightest
  background-color $invictus-blue-darker

// active route nav link
.navbar-inverse .navbar-nav>.active>a
  color $invictus-blue-lightest
  background-color $invictus-blue-darker
  background-image none

// nested dropdown hovered link
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
  background none
  background-color $invictus-blue-darker
  color $invictus-blue-lightest

</style>