<template>
<section>
  <div class="sidebar-block">
    <h4>{{{$t('_.inquiry.form.title')}}}</h4>
    <p>{{{$t("_.inquiry.budget")}}}</p>
    <a class="btn btn-invictus-blue budget-btn" v-link="{name:'quote'}">
    <i class="fa fa-file-text"></i>{{{$t('_.inquiry.form.title')}}}</a>
  </div>
  <hr>
  <div class="sidebar-block">
    <h4>{{{$t('_.tracking.title')}}}</h4>
    <p>Insira o seu código de tracking e consulte o estado e localização da sua mudança.</p>
    <div class="input-group">
      <div class="input-group-addon">
        <span><i class="fa fa-map-marker"></i></span>
      </div>
      <input type="text" @change="onTrackingInput" name="sidebar-input-tracking" id="sidebar-input-tracking" class="form-control">
    </div>
  </div>
  <hr>
  <div class="sidebar-block">
    <div class="fb-page" data-href="https://www.facebook.com/InvictusRelocationServices" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/InvictusRelocationServices" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/InvictusRelocationServices">Invictus Relocation Services</a></blockquote></div>
  </div>
</section>
</template>

<script>
/* globals FB */
export default {
  name: 'Sidebar',
  data () {
    return {}
  },
  methods: {
    onTrackingInput (e) {
      let code = e.currentTarget.value
      this.$route.router.go({name: 'tracking', query: {code}})
    }
  },
  attached () {
    try {
      FB.XFBML.parse() // reload facebook widget
    } catch (e) {
      // if facebook fails to login, attempt to reconnect after x seconds
      console.error(e)
      let self = this
      setTimeout(function () {
        self.attached()
      }, 3000)
    }
  }
}
</script>

<style lang="stylus" scoped>
.sidebar-block
  margin-bottom 20px
  span
    margin-bottom 10px

#sidebar-input-tracking
  width 160px

.budget-btn
  width 160px

</style>