<template>
  <div id="inquiry-component">
    <div class="background"></div>
    <div class="container">
      <h1 id="myModalLabel" class="page-title">
        {{{$t('_.inquiry.form.title')}}}
      </h1>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 form-column wow fadeIn">
        <h4>Formulário de orçamento</h4>
        <p>Preencha o seguinte formulário com os seus dados e receba no seu email informação sobre custos, procedimentos e soluções de que dispomos para que realize a sua mudança conosco.</p>
        <form id='budgetForm' class="form-horizontal" data-wow-duration=".3s" method="post" action="requestBudget">
          <fieldset>
            <div class="form-group">
              <label for="name" class="control-label">{{{$t('_.inquiry.form.name')}}}</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="{{{$t('_.inquiry.form.placeholders.name')}}}" required>
            </div>
            <div class="form-group">
              <label for="email" class="control-label">{{{$t('_.inquiry.form.email')}}}</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="{{{$t('_.inquiry.form.placeholders.email')}}}" required>
            </div>
            <div class="form-group">
              <label for="phone" class="control-label">{{{$t('_.inquiry.form.phone')}}}</label>
              <input type="text" class="form-control" id="phone" name="phone" placeholder="{{{$t('_.inquiry.form.placeholders.phone')}}}" required>
            </div>

            <div class="form-group">
              <label for="origin" class="control-label">{{{$t('_.inquiry.form.origin')}}}</label>
              <input type="text" class="form-control" id="origin" name="origin" placeholder="{{{$t('_.inquiry.form.placeholders.origin')}}}" required>
            </div>

            <div class="form-group">
              <label for="destination" class="control-label">{{{$t('_.inquiry.form.destination')}}}</label>
              <input type="text" class="form-control" id="destination" name="destination" placeholder="{{{$t('_.inquiry.form.placeholders.destination')}}}" required>
            </div>

            <div class="form-group">
              <label for="date" class="control-label">{{{$t('_.inquiry.form.date')}}}</label>
              <input type="date" class="form-control" id="date" name="date" style="max-width: 170px" required>
            </div>

            <div class="form-group">
              <label for="comments" class="control-label">{{{$t('_.inquiry.form.comments')}}}</label>
              <textarea class="form-control" rows="6" id="comments" name="comments" placeholder="{{{$t('_.inquiry.form.placeholders.comments')}}}"></textarea>
            </div>

            <div class="form-group" style="display: none">
              <input type="hidden" name="protection" id="protection">
            </div>

            <div class="dialog-error-msg"></div>

            <div class="form-group" style="display: none">
              <label class="control-label">{{{$t('_.inquiry.form.antispam')}}}</label>
              <label>
                <input id="human" name="human" type="hidden" value="true">
              </label>
            </div>

            <div class="form-group">
              <button id="btnBFSubmit" class="btn btn-invictus-blue" style="max-width: 200px">
                <!-- <i class="fa fa-paper-plane"></i> -->
                {{{$t('_.inquiry.form.send')}}}
              </button>
            </div>
          </fieldset>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
  export default {
    name: 'Inquiry',
    data () {
      return {}
    }
  }
</script>

<style lang="stylus" scoped>
form
  width 100%

.header
  margin 20px

.background
  background-image url('/static/img/sunset.jpg')
  width 100%
  z-index -1
  position fixed
  background-position center top
  background-repeat no-repeat
  background-size cover
  min-height calc(100vh - 50px)

.form-column
  background-color: rgba(255,255,255,.5);
  padding: 40px;
  border-radius: 10px
  margin-bottom 100px

.form-group
  margin-left 0
  margin-right 0

</style>