<template>
  <div id="app">
    <navbar></navbar>
    <div id="main-container">
      <router-view></router-view>
    </div>
    <footer-component></footer-component>
  </div>
</template>

<script>
import Navbar from './components/navbar'
import FooterComponent from './components/FooterComponent'
export default {
  components: {
    Navbar,
    FooterComponent
  }
}
</script>

<style lang="stylus">
@import "variables.styl"
html, body {
  height: 100%;
}

#app {
  height: 100%
}

#main-container
  min-height 100%
  padding-top $navbar-height

$btnc = lighten(#286090, 10)
$btnc-border = lighten(#204D74, 10)
$btnc-active = lighten(#337AB7, 10)
$btnc-active-border = lighten(#2E6DA4, 10)
$btn-green-deg = 125deg
$btn-invi-deg = 220deg
$btn-red-deg = 350deg

.btn-invictus-blue
  color: #fff
  background-color: hue($btnc, $btn-invi-deg)
  border-color: hue($btnc-border, $btn-invi-deg)
  >i
    margin-right 5px
.btn-invictus-blue:hover,
.btn-invictus-blue:focus,
.btn-invictus-blue.focus,
.btn-invictus-blue:active,
.btn-invictus-blue.active,
.open > .dropdown-toggle.btn-invictus-blue {
  color: #fff;
  background-color: hue($btnc-active, $btn-invi-deg)
  border-color: hue($btnc-active-border, $btn-invi-deg)
}

.btn-invictus-red
  color: #fff
  background-color: hue($btnc, $btn-red-deg)
  border-color: hue($btnc-border, $btn-red-deg)
  >i
    margin-right 5px
.btn-invictus-red:hover,
.btn-invictus-red:focus,
.btn-invictus-red.focus,
.btn-invictus-red:active,
.btn-invictus-red.active,
.open > .dropdown-toggle.btn-invictus-red {
  color: #fff;
  background-color: hue($btnc-active, $btn-red-deg)
  border-color: hue($btnc-active-border, $btn-red-deg)
}

.btn-invictus-green
  color: #fff
  background-color: hue($btnc, $btn-green-deg)
  border-color: hue($btnc-border, $btn-green-deg)
  >i
    margin-right 5px
.btn-invictus-green:hover,
.btn-invictus-green:focus,
.btn-invictus-green.focus,
.btn-invictus-green:active,
.btn-invictus-green.active,
.open > .dropdown-toggle.btn-invictus-green {
  color: #fff;
  background-color: hue($btnc-active, $btn-green-deg)
  border-color: hue($btnc-active-border, $btn-green-deg)
}

.btn-action-blue
  color: #fff
  background-color: $action-blue
  border-color: darken($action-blue, 10)
  >i
    margin-right 5px
.btn-action-blue:hover,
.btn-action-blue:focus,
.btn-action-blue.focus,
.btn-action-blue:active,
.btn-action-blue.active,
.open > .dropdown-toggle.btn-action-blue {
  color: #fff;
  background-color: lighten($action-blue, 10)
  border-color: $action-blue
}



body {
  /*    padding-top: 50px; */
  font-family: 'Roboto', sans-serif;
  color: #555
  // font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility
  font-family: 'Open Sans', sans-serif
  font-weight: 900
  font-style bold
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  // color: darken($invictus-red, 10)
}

h3, h4, h5, h6 {
  color: $invictus-pale-blue
}

.page-title
  margin-top 30px
  margin-bottom 30px

#scrollUp {
    background-image: url("/static/img/top.png");
    opacity: .5;
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
    z-index: 100;
}

.white-text {
  color:#fff;
}

.col-centered{
float: none;
margin: 0 auto;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

.panel-body p {
  white-space: pre-line;
}

label.error {
  color: #FB3A3A;
  /*  font-weight:normal;*/
  /*  font-size: 11px;*/
}

.panel-heading {
  padding: 0px;
}

.panel-group .panel {
  margin-bottom: 0px;
  border-radius: 0px;
}

.panel-title > a {
  text-decoration: none;
  display: block;
  padding: 13px 15px;
}

.panel-title > a > i {
  margin-right: 10px;
}
/* Responsive Styles */

@media(max-width:991px) {
  .customer-img, .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }
  header.carousel .carousel {
    height: 70%;
  }
}

.features {
  margin-bottom: 10px;
}

.feature-header {
  margin-bottom: 30px;
  white-space: nowrap;
}

.features-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wo-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.w-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.white-panel
  background-color rgba(255,255,255,.5)
  border-radius 10px

.white-paragraph-containers
  p
    background-color rgba(255,255,255,.5)
    border-radius 10px

</style>
